body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/air-view.jpg);
  color: aliceblue;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: #282929;
}
